@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300&display=swap');

.feedbackform-container {
    width: 22rem;
    background-color: #1664da;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
  }
  .feedbackform-wrapper {
    margin: 2rem 0;
  }

  .feedbackform-text {
    margin-bottom: .5rem;
    font-size: 1em;
    color: #fdfdfd;
    text-align: center;
  }
  .feedbackform-emoji {
    font-size:  1.3em;
    display: flex;
    justify-content: center;
  }

  .feedbackform-emoji > div:not(:first-child){
    margin-left: 1rem;

  }

  .feedbackform-emoji >div{
    cursor: pointer;
    transition: transform .2s ease-in;
  }

  .feedbackform-emoji >div:hover{
    transform: scale(1.5);
  }

  .textarea{
    width: 100%;
    display: block;
    background-color: rgb(16, 69, 148);
    color: #eee;
    border: none;
    resize: none;
    border: none;
    outline: none;
    height: 0;
    opacity: 0;
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);;
  }

  .textarea--active{
    padding: 1rem;
    opacity: 1;
    height: 6rem;

  }

  .btn{
    text-decoration: none;
    color:#eee;
    padding: .4rem 1rem;
    border-radius: 4px;
    background-color: blue;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    display: none;

  }

  .btn--active{
    display: inline-block;
  }